<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Car Model Prediction</title>
        <link rel="stylesheet" href="static/css/styles.css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script> 
		<script type="text/javascript" src="static/js/jquery.filedrop.js"></script>
        <script type="text/javascript" src="static/js/upload.js"></script>
    </head>
    <body>
		<a href="/"><input type=”button” value="Go Back"></a>
		<div id="dropbox">
            <h1 align="center">Car Model Prediction</h1>
			<span class="message">Drop images here to predict.</span>
		</div>
    </body>
</html>

