<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>MAIN PAGE</title>
        <link rel="stylesheet" href="static/css/styles.css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script> 
		<script type="text/javascript" src="static/js/jquery.filedrop.js"></script>
        <script type="text/javascript" src="static/js/upload.js"></script>

        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style>
        .w3-button {width:150px;}
        </style>


    </head>
    <body>

        <div style="position:fixed; bottom:50%; left:40%">
            <a href="/car_make"><input class="w3-button w3-light-grey" type=”button” value="Predict Make"></a>
            <a href="/car_model"><input class="w3-button w3-light-grey" type=”button” value="Predict Model"></a>
        </div>

    </body>
</html>

